.video {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    @include _1460 {
      justify-content: space-around;
    }
    @include _940 {
      justify-content: center;
    }
  }
  &__item {
    position: relative;
    width: 421px;
    height: 217px;
    margin: 0 10px 30px;
    background: #000;
    video {
      width: 421px;
      height: 217px;
      object-fit: cover;
    }
    &--empty {
      height: 0;
      margin: 0 10px;
      pointer-events: none;
    }
  }
  &__playpause {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(110, 16, 94, 0.25);
    width: 421px;
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      transition: transform 1s ease;
    }
    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
    &--fade {
      opacity: 0;
    }
  }
}
