@mixin font {
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: $main-text-color;
  font-style: normal;
}

/********media queries*********/
@mixin _1460 {
  @media screen and (max-width: 1460px) {
    @content;
  }
}
@mixin _1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}
@mixin _1210 {
  @media screen and (max-width: 1210px) {
    @content;
  }
}
@mixin _1100 {
  @media screen and (max-width: 1100px) {
    @content;
  }
}
@mixin _1140 {
  @media screen and (max-width: 1140px) {
    @content;
  }
}
@mixin _1062 {
  @media screen and (max-width: 1062px) {
    @content;
  }
}
@mixin _1023 {
  @media screen and (max-width: 1023px) {
    @content;
  }
}
@mixin _940 {
  @media screen and (max-width: 940px) {
    @content;
  }
}
@mixin _880 {
  @media screen and (max-width: 880px) {
    @content;
  }
}
@mixin _811 {
  @media screen and (min-width: 811px) {
    @content;
  }
}
@mixin _810 {
  @media screen and (max-width: 810px) {
    @content;
  }
}
//для ховеров
@mixin _881 {
  @media screen and (min-width: 881px) {
    @content;
  }
}
//end
@mixin _767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin _690 {
  @media screen and (max-width: 690px) {
    @content;
  }
}
@mixin _479 {
  @media screen and (max-width: 479px) {
    @content;
  }
}
