/***colors****/

$body-color: #6E105E;
$main-text-color: #EFF3F5;
$select-highlighted: #D26600;

/********fonts*********/

$line-height: 24px;
$font-weight: 500;
$font-weight-bold: 700;


$font-size-h1: 18px;
$line-height-h1: 26px;

$font-size-h2: $font-size-h1;
$line-height-h2: $line-height-h1;
